body {
    background-color: #01161E;
}

header {
    text-align: center;
    color: #598392;
}
section {
    background-color: #aec3ae;
    text-align: center;
}

nav {
    background-color: #124559;
    text-align: center;
}

a {
    color: #AEC3B0
    
}

main {
    background-color: #598392;
    text-align: center;
}



h2 {
    color: bisque;
}