@import url('https://fonts.googleapis.com/css2?family=Babylonica&display=swap');

body {
  background-color: lightsteelblue;
   
}

header {
 font-family: "Babylonica", sans-serif;
 text-align: center;
}

nav {
  background-color: antiquewhite;
  padding: 10px;
  margin: 10px;
}

main {
  background-color: cornsilk;
  padding: 10px;
  margin: 20px;
}

